@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Righteous&display=swap');
img.book {
    float: left;
    border: 1px solid black;
    margin-bottom: 2em;
    background-color: gold;
    padding: 1em;
    width: 100%;
  }

  .row {
    margin-bottom: 10px;
  }

  .moving{
    margin-left:30%;
  }

  .col-3{
    margin-left:10%;
  }

  .bottommoving{
    margin-top:20px;
    margin-left:10%;

  }

  .f{
    font-size:30px;
  }
  
  .publicbg{
    background-image: url('./publicbg2.jpg');
    font-family: 'Indie Flower', cursive;
    font-family: 'Righteous', cursive;
 

  }