@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap');
.headerrow{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    background-color: rgb(11, 12, 11);
}
.offset-4{
    margin-left:30%;
}
.badge-pill{
    border-radius: 15px 50px 30px;
}
.badge-success{
    background-color: rgb(221, 25, 25);
}
.fa-book{
    color: rgb(12, 57, 153);
}
.fontjinyu{
    font-family: 'Yeon Sung', cursive;
    font-size: 60px;
    font-weight: 900;
    color:rgb(250, 250, 250);
    text-shadow:0 0 20px #ff005b;
}
.fontjinyu:after{
    content: attr(data-text);
    position: absolute;
    top:0;
    left:0;
    padding:0 20px;
    z-index: -1;
    color:#ff005b;
    filter: blur(100px);
}
.form-control{
    display: inline;
    width:60%;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:30px;
}

.btn{
    margin-top:6px;
}
