@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

.privaterow{
    font-family: 'Rubik', sans-serif;
    margin-top:6%;
    padding:30px 50px;
}

.privaterow h3{
    font-weight: bold;
}